body{
    background-image: url(blue-sky-city-skyline-could-and-building-background-ai-generated-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#h1{
    color: white;
    text-align: center;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to right, blue, red, green);
}
p{
    font-weight: bold;
    font-size: 25px;
}
a{
    margin-left: 250px;
    font-size: 40px;
}